body{
	background: #2A2A2E;
}

.second-scene
{
	display:none;
}

.title-screen
{


	position: absolute;
	color: white;
	
	left: 11%;
	font-size: 40px;
	text-align: center;
	
	top: 39%;
}

.screen-button {

    padding: 19px;
    width: 26%;
    border: none;
    background: #79C5D3;
    font-size: 36px;
    border-radius: 44px;
    top: 50%;
    position: absolute;
    top: 65%;
    left: 6%;
    text-decoration: none;
    text-align: center;
    color: white;

}

.screen-button:hover{
	background: red;
}

.first-scene
{
	
}

.right
{
	width:50%;
	float:right;
}

.left
{
	width:50%;
	float:left;
}


.bot-set {
    position: absolute;
    top: 30%;
    left: 47%;
    
}

.header-tag
{
	text-align:center;
	color:white;
	font-size: 25px;
}


.board-styler
{
	border:2px solid blue;
	margin:0px auto;
	
}

.engine-container
{
	background:white;
}

#FenInDiv {
	position: relative;
    
    width: 48%;
    background: #2A2A2E;
    line-height: 15px;
    color: white;
    padding-bottom: 10px;
    margin-left: 31%;
}
}


.container{

    width: 85%;
   
    text-align: center;
    margin-left: 12px;
   

}


 .fen-text {

    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 20px;

}

.fen-button{
    background: #204E8A;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    padding: 7px;
}

#fenIn { 
 width: 73%;
 border: none;
 padding:10px;
 border-radius:10px;
margin-left: 10px;
 /* left: 60px; */
}

#Board {
	position: relative;
	/* top: 20px;
	left: 60px; */
	width: 480px;
	height: 480px;
	border-style: solid;
	border-width: 2px;
	float:left;
	margin-left:33%;
}

#EngineOutput {
	/* position: relative; */
	/* left: 600px;
	top: 250px;	 */
	width:27%;
	float:right;



}

.game-finish .engine-button{
	width:44%;
}


.engine-indicator
{
	display:none;
}

.engine-button
{
	width: 23%;
		font-size: 18px;
		padding: 3px;
			padding-bottom: 3px;
		border: none;
		background: #204E8A;
		border-radius: 7px;
		color: #fff;
		padding-bottom: 5px;
}

.Square {
	position: absolute;	
	width: 60px;
	height: 60px;
}

.Dark {
	background-color:#565F54;
}

.Light {
	background-color:#D3DFCE;
}

.SqSelected {
	background-color:#216778;
}

.rank1 { top: 420px; }
.rank2 { top: 360px; }
.rank3 { top: 300px; }
.rank4 { top: 240px; }
.rank5 { top: 180px; }
.rank6 { top: 120px; }
.rank7 { top: 60px; }
.rank8 { top: 0px; }

.file1 { left: 0px; }
.file2 { left: 60px; }
.file3 { left: 120px; }
.file4 { left: 180px; }
.file5 { left: 240px; }
.file6 { left: 300px; }
.file7 { left: 360px; }
.file8 { left: 420px; }

.Piece {
	position: absolute;
}


.game-finish
{
	
	border:1px solid white;
	
	float:right;
	border: 1px solid white;
	width: 18%;
	float: right;
	margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
	display: inline-block;
	background: red;
	margin-right: 110px;
	margin-top: 0px;
	padding: 6px;
	display:none;
}

.turn-time
{
	color: white;
		font-size: 32px;
}